set_var EASYRSA_DN           "{{ easyrsa_dn }}"
set_var EASYRSA_REQ_COUNTRY  "{{ easyrsa_req_country }}"
set_var EASYRSA_REQ_PROVINCE "{{ easyrsa_req_province }}"
set_var EASYRSA_REQ_CITY     "{{ easyrsa_req_city }}"
set_var EASYRSA_REQ_ORG      "{{ easyrsa_req_org }}"
set_var EASYRSA_REQ_EMAIL    "{{ easyrsa_req_email }}"
set_var EASYRSA_REQ_OU       "{{ easyrsa_req_ou }}"
set_var EASYRSA_REQ_CN       "{{ easyrsa_req_cn }}"
set_var EASYRSA_KEY_SIZE     {{ easyrsa_key_size }}
set_var EASYRSA_CA_EXPIRE    {{ easyrsa_ca_expire }}
set_var EASYRSA_CERT_EXPIRE  {{ easyrsa_cert_expire }}
set_var EASYRSA_CERT_RENEW   {{ easyrsa_cert_renew }}
set_var EASYRSA_CRL_DAYS     {{ easyrsa_crl_days }}