version: "3"
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      # See https://github.com/qdm12/gluetun-wiki/tree/main/setup#setup
      - TZ={{ ur_timezone }}
      # Server list updater
      # See https://github.com/qdm12/gluetun-wiki/blob/main/setup/servers.md#update-the-vpn-servers-list
      - UPDATER_PERIOD={{ gluetun_server_update_per }}
      - VPN_SERVICE_PROVIDER={{ gluetun_vpn_service_provider }}
      - VPN_TYPE={{ gluetun_vpn_type }}
{% if gluetun_vpn_type == 'openvpn' %}
      # OpenVPN:
      - OPENVPN_USER={{ gluetun_openvpn_user }}
      - OPENVPN_PASSWORD={{ gluetun_openvpn_password }}
{% if gluetun_vpnclient_custom == true %}
      - OPENVPN_CUSTOM_CONFIG=/config/{{ gluetun_openvpn_custom_conf }}
{% endif %}
{% elif gluetun_vpn_type == 'wireguard' %}
      # Wireguard:
      - WIREGUARD_PRIVATE_KEY={{ gluetun_wireguard_private_key }}
      - WIREGUARD_ADDRESSES={{ gluetun_wireguard_address }}
{% endif %}
    volumes:
      - ./:/config
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
{% if qbittorrent_inside_gluetun %}
      - {{ qbittorrent_webui_port }}:{{ qbittorrent_webui_port }}
{% endif %}
      - 6881:6881
      - 6881:6881/udp
    networks:
      vpn-net:
    restart: unless-stopped

networks:
  vpn-net:
    ipam:
      driver: default