# {{ ansible_managed }}
---
version: "3.5"

services:

    openvpn_exporter:
       container_name: openvpn_exporter
       image: d3vilh/openvpn_exporter:latest
       environment:
           - OVPN_STATUS_FILE=/etc/openvpn/log/openvpn-status.log
       privileged: true
       expose:
           - "9176"
       ports:
           - "9176:9176/tcp"
       volumes:
           - ../log:/etc/openvpn/log
       restart: always