#!/bin/bash
set -e

    # fix easy-rsa variables
    echo 'Fixing easy-rsa variables...'

    # Read the environment variables
    EASYRSA_DN=${EASYRSA_DN}
    REQ_COUNTRY=${REQ_COUNTRY}
    REQ_PROVINCE=${REQ_PROVINCE}
    REQ_CITY=${REQ_CITY}
    REQ_ORG=${REQ_ORG}
    REQ_EMAIL=${REQ_EMAIL}
    #REQ_OU=${REQ_OU}
    #REQ_CN=${REQ_CN}

    # Replace the values in the easy-rsa.vars file
    sed -i "s/^set_var EASYRSA_DN.*/set_var EASYRSA_DN           \"$EASYRSA_DN\"/" /etc/openvpn/config/easy-rsa.vars
    sed -i "s/^set_var EASYRSA_REQ_COUNTRY.*/set_var EASYRSA_REQ_COUNTRY     \"$REQ_COUNTRY\"/" /etc/openvpn/config/easy-rsa.vars
    sed -i "s/^set_var EASYRSA_REQ_PROVINCE.*/set_var EASYRSA_REQ_PROVINCE    \"$REQ_PROVINCE\"/" /etc/openvpn/config/easy-rsa.vars
    sed -i "s/^set_var EASYRSA_REQ_CITY.*/set_var EASYRSA_REQ_CITY        \"$REQ_CITY\"/" /etc/openvpn/config/easy-rsa.vars
    sed -i "s/^set_var EASYRSA_REQ_ORG.*/set_var EASYRSA_REQ_ORG         \"$REQ_ORG\"/" /etc/openvpn/config/easy-rsa.vars
    sed -i "s/^set_var EASYRSA_REQ_EMAIL.*/set_var EASYRSA_REQ_EMAIL       \"$REQ_EMAIL\"/" /etc/openvpn/config/easy-rsa.vars
    # sed -i "s/^set_var EASYRSA_REQ_CN.*/set_var EASYRSA_REQ_CN          \"$REQ_CN\"/" /etc/openvpn/config/easy-rsa.vars

if [[ ! -f /etc/openvpn/pki/ca.crt ]]; then
    export EASYRSA_BATCH=1 # see https://superuser.com/questions/1331293/easy-rsa-v3-execute-build-ca-and-gen-req-silently
    cd /opt/app/easy-rsa
 
    # Copy easy-rsa variables
    cp /etc/openvpn/config/easy-rsa.vars ./vars

    # Building the CA
    echo 'Setting up public key infrastructure...'
    /usr/share/easy-rsa/easyrsa init-pki

    echo 'Generating ertificate authority...'
    /usr/share/easy-rsa/easyrsa build-ca nopass

    # Creating the Server Certificate, Key, and Encryption Files
    echo 'Creating the Server Certificate...'
    /usr/share/easy-rsa/easyrsa gen-req server nopass

    echo 'Sign request...'
    /usr/share/easy-rsa/easyrsa sign-req server server

    echo 'Generate Diffie-Hellman key...'
    /usr/share/easy-rsa/easyrsa gen-dh

    echo 'Generate HMAC signature...'
    openvpn --genkey --secret pki/ta.key

    echo 'Create certificate revocation list (CRL)...'
    /usr/share/easy-rsa/easyrsa gen-crl
    chmod +r ./pki/crl.pem

    # Copy to mounted volume
    cp -r ./pki/. /etc/openvpn/pki
else
    # Copy from mounted volume
    cp -r /etc/openvpn/pki /opt/app/easy-rsa
    echo 'PKI already set up.'
fi

# Listing env parameters:
echo "Following environment variables are set:"  
echo "EASYRSA_DN = $EASYRSA_DN"
echo "REQ_COUNTRY = $REQ_COUNTRY"
echo "REQ_PROVINCE = $REQ_PROVINCE"
echo "REQ_CITY = $REQ_CITY"
echo "REQ_ORG = $REQ_ORG"
echo "REQ_EMAIL = $REQ_EMAIL"

# Configure network
mkdir -p /dev/net
if [ ! -c /dev/net/tun ]; then
    mknod /dev/net/tun c 10 200
fi

echo 'Configuring networking rules...'
echo 'net.ipv4.ip_forward=1' >> /etc/sysctl.conf
sysctl -p /etc/sysctl.conf

echo 'Configuring iptables...'
echo 'NAT for OpenVPN clients'
iptables -t nat -A POSTROUTING -s $TRUST_SUB -o eth0 -j MASQUERADE
iptables -t nat -A POSTROUTING -s $GUEST_SUB -o eth0 -j MASQUERADE

echo 'Blocking ICMP for external clients'
iptables -A FORWARD -p icmp -j DROP --icmp-type echo-request -s $GUEST_SUB 
iptables -A FORWARD -p icmp -j DROP --icmp-type echo-reply -s $GUEST_SUB 

echo 'Blocking internal home subnet to access from external openvpn clients (Internet still available)'
iptables -A FORWARD -s $GUEST_SUB -d $HOME_SUB -j DROP

if [[ ! -s fw-rules.sh ]]; then
    echo "No additional firewall rules to apply."
else
    echo "Applying firewall rules"
    ./fw-rules.sh
    echo 'Additional firewall rules applied.'
fi

echo 'IPT MASQ Chains:'
iptables -t nat -L | grep MASQ
echo 'IPT FWD Chains:'
iptables -v -x -n -L | grep DROP 

echo 'Start openvpn process...'
/usr/sbin/openvpn --cd /etc/openvpn --script-security 2 --config /etc/openvpn/config/server.conf

