---
version: "3.5"

services:
    openvpn:
       container_name: openvpn
       build: ./openvpn-docker
       # image: d3vilh/openvpn:latest
       restart: always       
       privileged: true
       environment:
           TRUST_SUB: {{ ovpn_trusted_subnet }}
           GUEST_SUB: {{ ovpn_guest_subnet }}
           HOME_SUB: {{ ovpn_home_subnet }}
       ports: 
          - "1194:1194/udp"
         # - "2080:2080/tcp"  # management port. uncomment if you would like to share it with the host
       volumes:
           - ./pki:/etc/openvpn/pki
           - ./clients:/etc/openvpn/clients
           - ./config:/etc/openvpn/config
           - ./staticclients:/etc/openvpn/staticclients
           - ./log:/var/log/openvpn
           - ./fw-rules.sh:/opt/app/fw-rules.sh
           - ./checkpsw.sh:/opt/app/checkpsw.sh
           - ./server.conf:/etc/openvpn/server.conf
       cap_add:
           - NET_ADMIN
       depends_on:
           - "openvpn-ui"

    openvpn-ui:
       container_name: openvpn-ui
       image: d3vilh/openvpn-ui:latest
       restart: always
       privileged: true
       environment:
           - OPENVPN_ADMIN_USERNAME={{ ovpnui_user }}
           - OPENVPN_ADMIN_PASSWORD={{ ovpnui_password }}
       ports:
           - "8080:8080/tcp"
       volumes:
           - ./:/etc/openvpn
           - ./db:/opt/openvpn-ui/db
           - ./pki:/usr/share/easy-rsa/pki
           - /var/run/docker.sock:/var/run/docker.sock:ro
