---
services:
  openvpn-client:
    image: d3vilh/openvpn-client:latest
    container_name: openvpn-client
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - ALLOWED_SUBNETS={{ ovpn_client_allowed_subnet }}
      - AUTH_SECRET={{ ovpn_client_secret }}
      - CONFIG_FILE={{ ovpn_client_cert if ovpn_client_cert != 'none' else '' }}
      - KILL_SWITCH={{ ovpn_client_killswitch }}
    volumes:
      - ./:/config
    ports:
      - 8090:8090
      - 6881:6881
      - 6881:6881/udp
    networks:
{% if ovpn_client_hostmode %}
      - host
      - vpn-net
{% endif %}
{% if not ovpn_client_hostmode %}
      vpn-net:
{% endif %}

networks:
{% if ovpn_client_hostmode %}
  host:
    external: true
{% endif %}
  vpn-net:
    ipam:
      driver: default