---
services:
  openvpn-client:
    image: d3vilh/openvpn-client:latest
    container_name: openvpn-client
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - ALLOWED_SUBNETS={{ ovpn_client_allowed_subnet }}
      - AUTH_SECRET={{ ovpn_client_secret }}
      - CONFIG_FILE={{ ovpn_client_cert }}
      - KILL_SWITCH={{ ovpn_client_killswitch }}
    volumes:
      - ./:/config
    ports:
      - 8090:8090
      - 6881:6881
      - 6881:6881/udp
    networks:
      vpn-net:
    restart: unless-stopped

networks:
  vpn-net:
    ipam:
      driver: default