---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
{% if not pihole_via_unbound %}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
{% endif %}
    environment:
      TZ: '{{ pihole_timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
{% if pihole_via_unbound %}
      PIHOLE_DNS_: '{{ unbound_dns_upstream_4_pihole }}'
{% endif %}
{% if not pihole_via_unbound %}
    dns:
      - 127.0.0.1
      - 8.8.8.8
{% endif %}
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
{% if pihole_via_unbound %}
    network_mode: "container:unbound"
{% endif %}
