---
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT={{ qbittorrent_webui_port }}
    volumes:
      - ./config:/config
      - ./downloads:/downloads
{% if not qbittorrent_inside_vpn and not qbittorrent_inside_gluetun %}
    ports:
      - {{ qbittorrent_webui_port }}:{{ qbittorrent_webui_port }}
      - 6881:6881
      - 6881:6881/udp
{% endif %}
{% if qbittorrent_inside_vpn %}
    network_mode: container:openvpn-client
{% endif %}
{% if qbittorrent_inside_gluetun %}
    network_mode: container:gluetun
{% endif %}