[global]
	workgroup = WORKGROUP
	netbios name = Raspberry-gw
	server string = Samba Server Version %v

	# Uncomment to map SMB user to system user root
	# admin users = raspberry

	map to guest = Bad User
	security = user
	passdb backend = tdbsam
	unix password sync = no
	name resolve order = bcast host lmhosts wins

	directory mask = 0755
	force create mode = 0644
	force directory mode = 0755

	syslog = 0

	load printers = No
	printing = bsd
	printcap name = /dev/null
	disable spoolss = Yes

[Files]
	comment = Files
	path = /mnt/files
	read only = No
	valid users = raspberry

[Torrents]
	comment = Torrents
	path = /mnt/torrents
	guest ok = Yes
	guest only = Yes
