---
version: "3"
services:
  unbound:
    container_name: unbound
    image: d3vilh/unbound-docker:latest
    ports:
      - "5335:5335/tcp"
      - "5335:5335/udp"
    volumes:
      - "./etc-unbound/unbound.conf:/etc/unbound/unbound.conf"
      - "./etc-unbound/root.hints:/etc/unbound/root.hints"
      - "./log-unbound/unbound.log:/var/log/unbound.log"
    cap_add:
      - NET_ADMIN
    restart: unless-stopped