---
version: "3"
services:
  unbound:
    container_name: unbound
    image: d3vilh/unbound-docker:latest
    ports:
      - "5335:53/tcp"
      - "5335:53/udp"
    volumes:
      - "./etc-unbound/unbound.conf:/etc/unbound/unbound.conf"
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.core.rmem_max=33554432
      - net.core.wmem_max=33554432
    restart: unless-stoppe