---
version: "3.5"

services:
  wireguard-ui:
    image: d3vilh/wireguard-ui-arm:latest
    container_name: wireguard-ui
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ ur_timezone }}
      - SERVERURL={{ wireguard_serverurl }}
      - WGUI_USERNAME={{ wireguard_user }}
      - WGUI_PASSWORD={{ wireguard_password }}
      - WGUI_SERVER_LISTEN_PORT=51820
      - WGUI_MANAGE_START=true
      - WGUI_MANAGE_RESTART=true
    volumes:
      - ./db:/app/db
      - ./config:/etc/wireguard
      - /lib/modules:/lib/modules
    ports:
      - '5000:5000'
      - '51820:51820/udp'
    sysctls:
       - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped